<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899806296829-24bqckjkc1na81kda2n462935o974tfj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899806296829-24bqckjkc1na81kda2n462935o974tfj</string>
	<key>API_KEY</key>
	<string>AIzaSyCx3sk2NcZ2jJfs13WwYXuvn8xqNlXXwLA</string>
	<key>GCM_SENDER_ID</key>
	<string>899806296829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>abdulaziz.Messanger</string>
	<key>PROJECT_ID</key>
	<string>messangerdojo</string>
	<key>STORAGE_BUCKET</key>
	<string>messangerdojo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899806296829:ios:b2268511dcffc82f6d5c94</string>
</dict>
</plist>